

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.home {
    background-color: #ffffff;
}

/********************** Menu navegacion ********************/

.nav {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    background-color: #fff; 
    z-index: 1000; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    padding: 5px 0px;
}

.nav ul {
    list-style: none;
    margin: 0px 0px;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.nav nav ul li {
    margin: 5px 15px; 
}

.nav li {
    display: inline-block;
}

.nav nav ul li a {
    display: inline-block; 
}

nav a {
    text-decoration: none;
    color: #555; 
    font-weight: bold;
    padding: 8px 12px; 
    border-radius: 5px; 
    background-color: #50a9e4; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #d0dae0; 
    color: #fff; 
}

.no-nav{
    padding-top: 100px;
    color: #e0e4e7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/************************** Header ***********************/

header, .container {
    padding: 20px;
    text-align: center;
    width: 60%;
}

header {
    background-color: rgb(230, 183, 183);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

header:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.img-fla {
    border-radius: 50%;
    width: 15%;
}

/********************** Botones Header *******************/
a {
    background-color: #ffffff;
}
.h-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bn30 {
    width: 10%;
    border: 5em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #0a0b0b, #ece4ec);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.bn30:hover {
    background-image: linear-gradient(-45deg, #0a0b0b, #ece4ec);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

/* Areas individuales */

#projects, #skills, #experience, #education, #contact{
    padding-top: 100px;
    color: #e0e4e7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 20%
}

section {
    background-color: #ecf0f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex: 1 1 auto;
    width: 40%;
}

.linkGitHub {
    background-color: #93FF96;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top:0.5em;
}

.linkGitHub a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkGitHub img {
    width: 24px; 
    height: 24px;
}

.linkGitHub span {
    margin-left: 10px;
    font-weight: bold;
}


.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #93FF96;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #50a9e4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #555;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

.contact-inputs:focus {
    border: 2px solid #000
}

.contact-inputs::placeholder {
    color: #000;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
}


@media (max-width: 978px) {   /*480*/
    .nav {
        width: 80%; 
    }

    header, .container {
        width: 80%;
    }

    .no-nav{
        padding-top: 175px;
    }

    #projects, #skills, #experience, #education, #contact{
        padding-top: 160px;
    }

    .img-fla {
        width: 35%;
    }

    .bn30 {
        width: 35%;
        margin-top: 5px;
    }

    .contact-inputs {
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
}
