.education-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul_claro);
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    transition: transform .2s ease-in;
}

.education-card:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow_azul_claro)
}

.education-logo {
    height: auto;
    margin-right: 10%; /* Espacio entre la imagen y el texto */
    width: 180px; /* Ajusta el tamaño del logo */
    border-radius: 10px;
}

.education-content {
    text-align: left;
}

.education-content h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.education-content p {
    margin: 5px 0;
    font-size: 16px;
}

.education-content ul {
    padding-left: 20px;
    margin: 10px 0 0 0;
}

.education-content ul li {
    margin-bottom: 5px;
}

@media (max-width: 978px) {
    .education-card {
        width: 95%; 
    }

    .education-logo {
        width: 80px; 
    }
}