header {
    padding: 20px;
    text-align: center;
    background-color: var(--morado);
    border-radius: 10px;
    width: 60%;
    transition: transform .2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow_morado);
}

.img-fla {
    border-radius: 50%;
    width: 15%;
    height: auto;
}

.h-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bn30 {
    border: 5em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    padding: 0.7em 2em;
    border-radius: 65px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--color);
    background-color: var(--rosa);
    width: 20%;
    display: flex;
    justify-content: center;
}

.bn30:hover {
    background-color: var(--rosa_second);
    box-shadow: var(--shadow_rosa);
    color: var(--color_opposite);
}

.logo-button {
    width: 5%;
    padding: 0.5em 2em;
}

.logo-button-img {
    width: 7em;
    height: auto;
}

@media (max-width: 978px) {
    header {
        width: 80%;
    }

    .img-fla {
        width: 35%;
    }

    .bn30 {
        width: 35%;
        margin-top: 5px;
    }

    .logo-button {
        width: 5%;
    }
}