.home {
    background-color: #ffffff;
}

.no-nav{
    color: #e0e4e7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    @media (max-width: 978px) {
        padding-top: 175px;
    }
}

main {
    padding: 20px;
    text-align: center;
    width: 60%;
}

#projects, #skills, #experience, #education, #contact{
    color: #e0e4e7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    @media (max-width: 978px) {
        padding-top: 160px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #cde6f7;
    width: 100%;
    height: 150px;
}