nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; 
    z-index: 1000; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    padding: 5px 0px;
    @media (max-width: 978px) {
        width: 80%;
    }
}

ul {
    list-style: none;
    margin: 0px 0px;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

li {
    margin: 5px 5px; 
    display: inline-block;
}

a {
    text-decoration: none;
    color: #555; 
    font-weight: bold;
    padding: 8px 12px; 
    border-radius: 50px; 
    background-color: #fff; 
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; 
}

a.active {
    background-color: #a0a8ad;
    color: #fff; 
}

a:hover {
    background-color: #d0dae0; 
    color: #fff; 
}

