nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secundary); 
    z-index: 1000; 
    box-shadow: var(--shadow); 
    border-radius: 15px; 
    padding: 5px 0px;
}

ul {
    list-style: none;
    margin: 0px 0px;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

li {
    margin: 5px 5px; 
    display: inline-block;
}

a {
    text-decoration: none;
    color: #555; 
    font-weight: bold;
    padding: 8px 12px; 
    border-radius: 50px; 
    background-color: var(--secundary); 
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; 
}

a.active {
    background-color: var(--fourth);
    color: var(--color_opposite); 
}

a:hover {
    background-color: var(--terciary); 
    color: var(--color_opposite); 
}

@media (max-width: 978px) {
    nav {
        width: 80%;
    }
}

