.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.box-skill {
    width: 75px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    margin-bottom: 2vh;
    padding: 5px;
    transition: transform 0.2s linear;
    background-color: var(--color-skills);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.skill:hover {
    transform: scale(1.1);
}

.etiqueta-skill {
    background-color: beige;
    padding: 5px;
    border-radius: 20%;
}

.logo {
    width: 100%;
    height: auto;
}
